/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     max-width: 600px;
     margin: auto;
     padding: 20px;
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
 }
 
 .container {
     border: 1px solid lightgrey;    
     box-shadow: 10px 5px 5px lightgray;
     padding: 5px 20px 20px 20px;
 }
 
 img {
     width: 520px;
 }
 
 .italics {
     font-style: italic;
 }
 
 ul {
     list-style: none;
 }
 
 span {
     font-weight: bold;
 }
 
 section {
     border: 1px solid lightgray;
     padding: 20px;
     margin-top: 20px;
 }




 


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
