* {
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto';
}

section {
    display: flex;
    justify-content: space-between;
}


.row {
    width: 100%;
    display: flex;
}

header {
    height: 140px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

header div {
    width: 680px;
    text-align: right;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 0px;
    color: lightgray
}

#logo {
    height: 120px;
}

span {
    font-weight: bold;
}

article {
    text-align: center;
}

a {
    font-size: small;
}
